@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap');

:root {
    --softRed: hsl(0, 93%, 68%);
    --desaturatedRed: hsl(0, 36%, 70%);
    --darkGray: hsl(0, 6%, 24%);
    --primaryGradient: linear-gradient(135deg,hsl(0, 0%, 100%), hsl(0, 100%, 98%));
    --btnGradient: linear-gradient(135deg,hsl(0, 80%, 86%), hsl(0, 74%, 74%));
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1rem;
    max-width: 1440px;
    margin: 0 auto;
}

.container {
    width: 100%;
    max-width: 550px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.logo {
    order: 1;
    margin: 3em;
}

.logo img {
    width: 35%;
}

.hero_container {
    order: 2;
    width: 100%;
    height: 250px;
    background: url('./images/hero-mobile.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.info_container {
    order: 3;
    padding: 6em 3em;
    background: var(--primaryGradient);
    background-repeat: no-repeat;
}

.info {
    margin-bottom: 3em;
}

.title {
    font-size: 4rem;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 8px;
    margin-bottom: .4em;
}

.title span {
    font-weight: 300;
    color: var(--desaturatedRed);
}

.subs {
    font-size: 1.4rem;
    color: var(--desaturatedRed);
    line-height: 2rem;
    text-align: center;
}

.stay_up-to-data_form {
    position: relative;
}

.stay_up-to-data_form input {
    width: 100%;
    height: 4.9rem;
    border-radius: 2.4rem;
    border: 1px solid var(--desaturatedRed);
    padding: 1.2rem 13rem 1.2rem 1.8rem;
    color: var(--darkGray);
    background-color: transparent;
    outline: none;
}

.stay_up-to-data_form input::placeholder {
    color: var(--desaturatedRed);
}

.error_icon {
    position: absolute;
    top: 1.2rem;
    right: 9rem;
    display: none;
}

.error_message {
    font-size: 1.3em;
    padding: 1.2rem 1.8rem;
    color: var(--softRed);
    display: none;
}

.error input {
    border: 2px solid var(--softRed);
}

.error .error_icon {
    display: inline-block;
}

.error .error_message {
    display: inline-block;
}

.btn {
    height: 5rem;
    padding: 0 3.3rem;
    border-radius: 2.4rem;
    border: none;
    outline: none;
    background: var(--btnGradient);
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    transition: all 350ms ease-in;
}

.btn:hover {
    opacity: .7;
    box-shadow: 0px 5px 18px -8px var(--darkGray);
}

@media screen and (min-width:850px) {
    .container {
        max-width: none;
        position: relative;
        flex-direction: row;
    }

    .logo {
        position: absolute;
        margin: 0;
        top: 4rem;
        left: 10em;
    }

    .logo img {
        width: 70%;
    }

    .info_container {
        width: 60%;
        padding: 15em 10em 10em 10em;
        background: url('./images/bg-pattern-desktop.svg'),
                    var(--primaryGradient);
        background-position: center;
        background-repeat: no-repeat;
    }

    .title {
        text-align: left;
    }

    .subs {
        text-align: left;
    }

    .hero_container {
        width: 40%;
        height: auto;
        order: 3;
        background: url('./images/hero-desktop.jpg');
        background-size: cover;
    }
}

@media screen and (min-width:1200px) {

    .logo {
        top: 7em;
        left: 15em;
    }

    .logo img {
        width: 100%;
    }

    .info_container {
        padding: 20em 15em 15em;
    }

    .title {
        font-size: 6rem;
        width: 70%;
        line-height: 7rem;
    }

    .subs {
        font-size: 1.8rem;
        line-height: 2.5rem;
        width: 85%;
    }

    .stay_up-to-data_form {
        width: 85%;
    }

    .stay_up-to-data_form input {
        font-size: 1.6rem;
    }

    .error_message {
        font-size: 1.6rem;
    }
}